lab3/Ebay/lab3-ebay-server/WebContent/wsdl/Auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3ebay" xmlns:intf="http://lab3ebay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="register">
    <complexType>
     <sequence>
      <element name="fname" type="xsd:string"/>
      <element name="lname" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="bdate" type="xsd:string"/>
      <element name="phone" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="line_1" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipcode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerResponse">
    <complexType>
     <sequence>
      <element name="registerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signin">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signinResponse">
    <complexType>
     <sequence>
      <element name="signinReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="registerRequest">

      <wsdl:part element="impl:register" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerResponse">

      <wsdl:part element="impl:registerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signinResponse">

      <wsdl:part element="impl:signinResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signinRequest">

      <wsdl:part element="impl:signin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Auth">

      <wsdl:operation name="register">

         <wsdl:input message="impl:registerRequest" name="registerRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerResponse" name="registerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signin">

         <wsdl:input message="impl:signinRequest" name="signinRequest">

       </wsdl:input>

         <wsdl:output message="impl:signinResponse" name="signinResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthSoapBinding" type="impl:Auth">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="register">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signinRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signinResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthService">

      <wsdl:port binding="impl:AuthSoapBinding" name="Auth">

         <wsdlsoap:address location="http://localhost:8080/lab3-ebay-server/services/Auth"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
