lab3/Ebay/lab3-ebay-server/WebContent/wsdl/DetailItem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3ebay" xmlns:intf="http://lab3ebay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getItemDetails">
    <complexType>
     <sequence>
      <element name="item_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItemDetailsResponse">
    <complexType>
     <sequence>
      <element name="getItemDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getItemDetailsResponse">

      <wsdl:part element="impl:getItemDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getItemDetailsRequest">

      <wsdl:part element="impl:getItemDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DetailItem">

      <wsdl:operation name="getItemDetails">

         <wsdl:input message="impl:getItemDetailsRequest" name="getItemDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getItemDetailsResponse" name="getItemDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DetailItemSoapBinding" type="impl:DetailItem">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getItemDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItemDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItemDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DetailItemService">

      <wsdl:port binding="impl:DetailItemSoapBinding" name="DetailItem">

         <wsdlsoap:address location="http://localhost:8080/lab3-ebay-server/services/DetailItem"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
