lab3/Ebay/lab3-ebay-server/WebContent/wsdl/Index.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3ebay" xmlns:intf="http://lab3ebay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getItems">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItemsResponse">
    <complexType>
     <sequence>
      <element name="getItemsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getItemsResponse">

      <wsdl:part element="impl:getItemsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getItemsRequest">

      <wsdl:part element="impl:getItems" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Index">

      <wsdl:operation name="getItems">

         <wsdl:input message="impl:getItemsRequest" name="getItemsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getItemsResponse" name="getItemsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IndexSoapBinding" type="impl:Index">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getItems">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItemsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItemsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IndexService">

      <wsdl:port binding="impl:IndexSoapBinding" name="Index">

         <wsdlsoap:address location="http://localhost:8080/lab3-ebay-server/services/Index"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
