lab3/Ebay/lab3-ebay-server/WebContent/wsdl/SellItem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab3ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab3ebay" xmlns:intf="http://lab3ebay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lab3ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sellItem">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="description" type="xsd:string"/>
      <element name="price" type="xsd:double"/>
      <element name="quantity" type="xsd:int"/>
      <element name="bidding_price" type="xsd:double"/>
      <element name="is_bidding" type="xsd:int"/>
      <element name="bidding_due_time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sellItemResponse">
    <complexType>
     <sequence>
      <element name="sellItemReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sellItemRequest">

      <wsdl:part element="impl:sellItem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sellItemResponse">

      <wsdl:part element="impl:sellItemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SellItem">

      <wsdl:operation name="sellItem">

         <wsdl:input message="impl:sellItemRequest" name="sellItemRequest">

       </wsdl:input>

         <wsdl:output message="impl:sellItemResponse" name="sellItemResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SellItemSoapBinding" type="impl:SellItem">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sellItem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sellItemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sellItemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SellItemService">

      <wsdl:port binding="impl:SellItemSoapBinding" name="SellItem">

         <wsdlsoap:address location="http://localhost:8080/lab3-ebay-server/services/SellItem"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
